//ver diseno
//explicar estructura completa
//hacer header
//hacer footer
//hacer plantilla
//pegar en todas las otras paginas

//Variables
$Fuente1: "Lato", sans-serif;
$Fuente2: "Oswald", sans-serif;
$color-primario: #333333;
$color-secundario: #8841da;
$color-variacion: #3f579a;
$color-claro: #fff;

//Mixins
@mixin caja {
  color: $color-primario;
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.2);
}

@mixin titulos($fuente) {
  @if $fuente ==$Fuente1 {
    font-family: $Fuente1;
  } @else {
    font-family: $Fuente2;
    text-transform: uppercase;
    font-weight: 700;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// Funciones
@function get-opacity($color, $amount) {
  @return rgba($color, $amount);
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size) * 1.5;
}
